@media(max-width:9999px){
    .gif_image {
        background-size: 63%;
    }

    .hero_text {
        padding-bottom: 270%;
    }
}
@media(max-width:5120px){
    .gif_image {
        background-size: 60%;
    }

    .hero_text {
        padding-bottom: 123%;
    }
}

@media(max-width:2685px){
    .hero_text {
        padding-bottom: 125%;
    }

    .gif_image {
        background-size: contain;
    }
}

@media(max-width:2000px){
    .hero_text {
        padding-bottom: 80%;
    }
}


@media(max-width:1440px) {
    .hero_text {
        padding-bottom: 60%;
    }
}


@media(max-width:1199px) {
    .popnavbar {
        width: 35%;
        margin: auto;
    }

    h2 {
        font-size: 35px;
    }

    .hero {
        padding: 60px 0px 40px 0px;
    }

    .hero_content h1 {
        font-size: 70px;
    }

    .hero_content h2 {
        font-size: 25px;
    }

    .hero_text {
        padding-bottom: 60%;
    }

    .gif_image {
        background-size: 100%;
    }

    .about_content p {
        font-size: 18px;
    }

    .abplayer {
        display: block;
        width: 100%;
        padding-bottom: 40px;
    }

    .abplayermain {
        display: none;
    }

    .abcontent {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .about_content {
        padding-right: 0;
        padding-bottom: 30px;
    }

    .team {
        padding: 40px 15px;
    }

    .team h2 {
        margin-top: 0;
    }

    .tmember_des {
        text-align: center;
        padding: 10px;
    }

    .tmember h3 {

        font-size: 25px;
    }

    .tmember {
        width: 90%;
        margin: auto;
    }


    .contact {
        padding: 40px 15px;
    }


    .submit_button {
        text-align: center;
    }

    .featherlight .featherlight-content {
        height: auto;
    }
}

@media(max-width:991px) {
    .popnavbar {
        width: 56%;
        margin: auto;
    }

    h2 {
        font-size: 35px;
    }

    .hero {
        padding: 60px 0px 40px 0px;
    }

    .hero_content h1 {
        font-size: 60px;
    }

    .hero_content h2 {
        font-size: 20px;
    }

    .hero_text {
        padding-bottom: 60%;
    }

    .featherlight .featherlight-content {
        height: auto;
    }

    .gif_image {
        background-size: 100%;
    }

    .about_content p {
        font-size: 18px;
    }

    .abplayer {
        display: block;
        width: 100%;
        padding-bottom: 40px;
    }

    .abplayermain {
        display: none;
    }

    .abcontent {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .about_content {
        padding-right: 0;
        padding-bottom: 30px;
    }

    .team {
        padding: 40px 15px;
    }

    .team h2 {
        margin-top: 0;
    }

    .tmember_des {
        text-align: center;
        padding: 10px;
    }

    .tmember h3 {

        font-size: 25px;
    }

    .tmember {
        width: 90%;
        margin: auto;
    }


    .contact {
        padding: 40px 15px;
    }


    .submit_button {
        text-align: center;
    }
}


@media(max-width:767px) {
    .popnavbar {
        width: 56%;
        margin: auto;
    }

    h2 {
        font-size: 25px;
    }

    .hero {
        padding: 60px 0px 30px 0px;
    }

    .hero_content h1 {
        font-size: 40px;
    }

    .featherlight .featherlight-content {
        height: auto;
    }

    .hero_content h2 {
        font-size: 18px;
    }

    .hero_text {
        padding-bottom: 60%;
    }

    .gif_image {
        background-size: 100%;
    }

    .about {
        padding-top: 0;
        padding: 0px 15px;
    }

    .about_content {
        padding-right: 0;
        text-align: center;
        padding-top: 10px;
    }

    .about_content p {
        font-size: 16px;
    }

    .abplayer {

        display: none;
    }

    .abplayermain {
        display: block;
    }

    .team {
        padding: 30px 15px;
    }

    .team h2 {
        margin-top: 0;
    }

    .tmember_des {
        text-align: center;
        padding: 10px;
    }

    .tmember h3 {

        font-size: 20px;
    }

    .tmember {
        width: 90%;
        margin: auto;
    }

    .team {
        background-size: cover;
    }

    .contact {
        padding: 30px 15px;
    }

    .info {
        display: inherit;
    }

    .nameinfo {
        width: 100%;
    }

    .submit_button {
        text-align: center;
    }
}


@media(max-width:425px) {
    .popnavbar {
        width: 56%;
        margin: auto;
    }

    h2 {
        font-size: 25px;
    }

    .hero {
        padding: 60px 0px 30px 0px;
    }

    .hero_content h1 {
        font-size: 40px;
    }

    .hero_content h2 {
        font-size: 18px;
    }

    .hero_text {
        padding-bottom: 80%;
    }

    .gif_image {
        background-size: 182%;
    }

    .about {
        padding-top: 0;
        padding: 0px 15px;
    }

    .about_content {
        padding-right: 0;
        text-align: center;
        padding-top: 10px;
    }

    .about_content p {
        font-size: 16px;
    }

    iframe {
        border: 0;
        height: 250px;
    }

    .team {
        padding: 30px 15px;
    }

    .team h2 {
        margin-top: 0;
    }

    .tmember_des {
        text-align: center;
        padding: 10px;
    }

    .tmember h3 {

        font-size: 20px;
    }

    .tmember {
        width: 90%;
        margin: auto;
    }

    .team {
        background-size: cover;
    }

    .contact {
        padding: 30px 15px;
    }

    .info {
        display: inherit;
    }

    .nameinfo {
        width: 100%;
    }

    .submit_button {
        text-align: center;
    }

    .featherlight .featherlight-content {
        height: auto;
    }
}

@media(max-width:375px) {
    .popnavbar {
        width: 80%;
        margin: auto;
    }

    .hero_text {
        padding-bottom: 60%;
    }

    .featherlight .featherlight-content {
        height: auto;
    }
}