* {
    margin: 0;
    padding: 0;
    font-family: 'Arial Regular';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

:root {
    --cs-primary: #fff;
}


.c-60 {
    padding: 60px 0px;
}

h2 {
    font-size: 50px;
    color: var(--cs-primary);
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

/* header starts */
.header {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
    padding: 30px 0px;
    position: absolute;
    width: 100%;
    z-index: 100;
    position: fixed;
}

.popnavbar {
    width: 20%;
    margin: auto;
}

.popnavbar ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.popnavbar ul li {
    list-style: none;
}

.popnavbar ul li a {
    color: var(--cs-primary);
    text-decoration: none;
    font-size: 16px;
}

.shadowbox{
    position: absolute;
    padding-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: 0px 0px 14px 8px #0000005e;
    height: auto;
}

.reel:hover + .shadowbox{
    display: block;
}

/* header end  */

/* hero starts */
.hero {
    background: url(../images/theaterbg.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    z-index: 10;

}

.gif_image{
    background: url(../images/header_overlay.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero_content {
    text-align: center;
    padding: 20px 0px;

}

.hero_content h1 {
    font-size: 70px;
    color: var(--cs-primary);
    font-weight: 700;
}

.hero_content h2 {
    font-size: 20px;
    color: #f2cdac;
    padding: 10px 0px;
}

.hero_text {
    padding-bottom: 80%;
}

.about {
    padding-top: 30px;
}

.about_content {
    padding-right: 40px;
}

.about_content p {
    font-size: 18px;
    color: var(--cs-primary);
}

.abplayer{
    display: none;
}

.abcontent{
    display: block;
}

.abplayermain{
    display: block;
}

/* hero ends */

/* team starts */
.team {
    background: url(../images/teambg.png);
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    background-size: contain;
}

.team h2 {

    margin-top: 88px;
}

.tmember {
    width: 70%;
    margin: auto;
}

.tmember img {}

.tmember h3 {
    color: #fff;
    font-size: 25px;
    padding: 5px 0px;
}

.tmember p {
    font-size: 16px;
    color: #fff;
    padding: 10px 0px;
}


.owl-carousel .owl-item img {
    border: 2px solid #b8883f;
    border-radius: 20px;
    box-shadow: 0 0 9px 0px #b8883fa3;
}

.owl-dots{
    display: none;
}

.tmember_des {
    text-align: center;
    padding: 10px;
}

.tdesright {
    text-align: right;
}

.tdesleft {
    text-align: left;
}

/* contact starts */
.contact {
    background-color: #000;
}

.contact form {}

.info {
    display: flex;
    justify-content: space-between;
}

.nameinfo {
    width: 49%;
}

.contact form label {
    color: var(--cs-primary);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 3px;
}

.contact form input {
    margin-bottom: 15px;
    border-radius: 0;
}

.contact form textarea {
    border-radius: 0;
}

.contact form input[type="submit"] {
    padding: 0;
    padding: 10px 50px;
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.submit_button{
    text-align: right;
}